/* css styles */
.quarto-title-banner img {
  width: 100vw;
  max-width: 100vw;
  height: auto;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  object-fit: cover;
  display: block;
}